
h1,h2,h3,h4,h5{margin:0 0 var(--space-2)} p{margin:0 0 var(--space-2);font-size:var(--fs-200)}
h1{font-size:var(--fs-800);font-weight:800} h2{font-size:var(--fs-700);font-weight:700}
h3{font-size:var(--fs-600);font-weight:700} h4{font-size:var(--fs-500);font-weight:700} h5{font-size:var(--fs-400);font-weight:700}
small{font-size:var(--fs-100)}
